.main {
  text-align: center;
  padding: 6rem;  
}

.main ul {
  text-align: left;
  margin-top:2rem;
}


body .main{
  font-size:1.3em;

}

body .main button {
  padding: 0 5%;
}

body .main li{
list-style: none;
} 
 
 
  